body {
    display: flex;
    flex-direction: column;
    font-family: monospace, sans-serif;
    /* margin-left: 140px; */
}

.logo {
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
}

.header {
   width: auto;
   height: 60px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    font-size: 14px;
    /* margin-left: -60px; */
    margin-bottom: 50px;
    padding-left: 20px;
}

.top-links {
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.second-panel {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
    background-color: black;
    color: white;
    height: 250px;
    padding-top: 40px;
    border-radius: 100px;
    margin-bottom: 50px;
}

.second-shoe {
    height: 200px;
    width: 470px;
    /* float: left; */
    /* margin: 40px; */
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 20px;
}

button {
    font-size: 15px;
    font-weight:700;
    width: 100px;
    height: 32px;
    margin-top: 30px;
    margin-left: 200px;
    border-radius: 20px;
    background-color: lightsteelblue;
    box-shadow: 0px 1px 11px 6px rgba(255, 255, 255, .2);
    border-style: none;
}

button:hover{
    background-color: skyblue;
}
button:active {
    background-color:  rgb(27, 63, 110);
}

h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 2px black;
}

h3 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 2px black;
    padding-bottom: 32px;
}

.card-section {
    display: flex;
    justify-content: space-evenly;
}

.column {
    border: 1px solid #bbbbbb;
    box-shadow:  0px 0px 20px 14px black;
    border-radius: 40px; 
    width: 100px;
    text-align: center;
    padding: 32px;
    margin: 16px;
    padding-bottom: 35px;
    flex-shrink: 1;
     /*float: left;
    width: 50%;
    padding: 1px; */ 
  } 

  .subtext-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }